<h1>Trip Details</h1>
<%= link_to("Edit Trip", trip_path(@trip.id), method: :edit  %>
<%= link_to("Delete Trip", trip_path(@trip.id), method: :delete, data: {confirm: "100% for sure for sure"}) %>

<ul>
    <li>
      Trip ID <%= @trip.id %>
    </li>
    <li>
      Date <%= @trip.date %>
    </li>
    <li>
      Cost $<%= @trip.cost/100 %>
    </li>
    <li>
      Rating
      <% if @trip.rating %>
        <%= @trip.rating %>
      <% else %>
        <%= form_for @trip do |field| %>
          <%= field.label :rating %>
          <%= field.select :rating, options_for_select([1,2,3,4,5]) %>
          <%= field.submit "Update Rating"%>
        <% end %>
      <% end %>
    </li>
    <li>
      Passenger Name
      <%= link_to(@trip.passenger.name, passenger_path(@trip.passenger.id)) %>
    </li>
    <li>
      Driver Name
      <%= link_to(@trip.driver.name, driver_path(@trip.driver.id)) %>
    </li>
  </ul>