<h1>Trip Details</h1>
<%= link_to("Edit Trip", edit_trip_path(@trip.id))  %>
<%= link_to("Delete Trip", trip_path(@trip.id), 
    method: :delete, 
    data: {confirm: "100% for sure for sure"}) %>

<ul>
    <li>
      <h4>Trip ID</h4> <%= @trip.id %>
    </li>
    <li>
      <h4>Date</h4> <%= @trip.date %>
    </li>
    <li>
      <h4>Cost $</h4><%= @trip.cost/100 %>
    </li>
    <li>
      <h4>Rating</h4>
      <% if @trip.rating %>
        <%= @trip.rating %>
      <% else %>
        <% form_for @trip do |field| %>
          <%= field.label :rating %>
          <%= field.select :rating, options_for_select([1,2,3,4,5]) %>
          <%= field.submit "Update Rating"%>
        <% end %>
      <% end %>
    </li>
    <li>
      <h4>Passenger Name</h4>
      <%= link_to(@trip.passenger.name, passenger_path(@trip.passenger.id)) %>
    </li>
    <li>
      <h4>Driver Name</h4>
      <%= link_to(@trip.driver.name, driver_path(@trip.driver.id)) %>
    </li>
  </ul>