<% if @passenger.errors.any? %>
    <ul>
      <% @passenger.errors.each do |type, message| %>
        <li>
          <%= type %> <%= message %>
        </li>
      <% end %>
    </ul>
<% end %>

<%= form_for @passenger do |field| %>
    <%= field.label :name %>
    <%= field.text_field :name %>
    <%= field.label :phone_num %>
    <%= field.text_field :phone_num %>
    <%= field.submit %>

<% end %>

<div class = "link">
  <%= link_to "Back to All Passengers", passengers_path%>
<div>
