<% if @passenger.errors.any? %>
    <ul>
      <% @passenger.errors.each do |column, message| %>
        <li>
          <%= column %> <%= message %>
        </li>
      <% end %>
    </ul>
  <% else %>
  <%= form_for @passenger do |field| %>
    <%= field.label :name %>
    <%= field.text_field :name %>
    <%= field.label :phone_num %>
    <%= field.text_field :phone_num %>
    <%= field.submit %>
  <% end %>
<% end %>

<footer class = "foot">
  <%= link_to "Back to All Passengers |", passengers_path, class: "links"%>
  <%= link_to "Home", root_path, class: "links" %>
</footer>
