<h2>Passengers</h2>

<ul class = "align_list">
<% @passengers.each do |passenger| %>
  <li>
    <%= image_tag "https://i.imgur.com/rxKU8cH.jpg", alt: "Image of Wonder doll" %>
    <%= link_to "#{passenger.name}: ", passenger_path(passenger.id), class: "links" %>
    <%= link_to "Edit |", edit_passenger_path(passenger.id), class: "links" %>
    <%= link_to " Delete", 
      passenger_path(passenger.id), class: "links", method: :delete, 
      data: { confirm: '100% for sure for sure delete?' }%>
  </li>
<% end %>
</ul>

<footer>
    <%= link_to "Home", root_path, class: "links" %>
</footer>