<div class = "header">

</div>
<div class = "passenger_pic">
<%= image_tag "passengerpic.jpg", alt: "Image of Icybat" %>
</div>
<div class = "header">
<h3>
  <%= "Name: #{@passenger.name}" %>
  <%= "Phone Number: #{@passenger.phone_num}" %>
  <%# <%= "Total Charges: #{@passenger.total_charges}" %>

  <%= "Passenger Trips" %>
</h3>
</div>
<%= link_to "Back to All Passengers", passengers_path %>

