<%= image_tag "passengerpic.jpg", alt: "Image of Icybat" %>

<h2><%= @passenger.name %></h2>
<h3><%= @passenger.phone_num %></h3>

<%= link_to("Edit Passenger |", edit_passenger_path(@passenger.id), class: "links") %>
<%= link_to("Delete Passenger |", passenger_path(@passenger.id), class: "links", method: :delete, data: {confirm: "100% for sure for sure?"}) %>
<%= link_to("Add Trip", trip_path(:passenger => @passenger), class: "links", method: :get) %>
  
<h3>Total Spent on Trips: $<%= (@passenger.trip_cost)/100 %></h3>
   
<%if @passenger.trips.empty?%>
    <p> This person has not yet taken any rides.</p>
<%else%>
   <h2>Trips Taken</h2>
      <table class = "center_passenger">
        <thead>
          <tr>
            <th>Trip ID</th>
            <th>Date</th>
            <th>Cost</th>
            <th>Driver Name</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
            <% @passenger.trips.each do |trip| %>
            <tr>
            <td><%= link_to(trip.id, trip_path(trip.id), class: "links") %></td>
            <td> <%= trip.date %></td>
            <td> <%= format("%.2f", trip.cost/100) %></td>
            <td> <%= trip.driver.name  %> </td>
            <td> <%= trip.rating %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
<% end %>

<footer>
  <%= link_to "Back to All Passengers |", passengers_path, class: "links" %>
  <%= link_to "Home", root_path, class: "links" %>
</footer>