<h2>Drivers</h2>

<ul class = "align_list">
  <% @drivers.each do |driver| %>
  <li>
    <%= image_tag "driverpic.jpg", alt: "Image of Icybat" %>
    <%= link_to("#{driver.name}: ", driver_path(driver.id), class: "links", alt:'Driver show view')%>
    <%= link_to "Edit |", edit_driver_path(driver.id), class: "links" %>
    <%= link_to " Delete", 
      driver_path(driver.id), class: "links", method: :delete, 
      data: { confirm: '100% for sure for sure delete?' }%>
  </li>
  <% end %>
</ul>

<footer class = "foot">
    <%= link_to "Home", root_path, class: "links" %>
</footer>